SIT_PYPI_USER=user
SIT_PYPI_PASS=pass
REDIS_ADDRESS=localhost
REDIS_PORT=6379
TRACER_REPORTING_HOST=localhost
TRACER_REPORTING_PORT=6831
SERVICE_STREAM_KEY=cm-data
SERVICE_CMD_KEY=cm-cmd

PREPROCESSOR_CMD_KEY=pp-cmd
EVENT_DISPATCHER_CMD_KEY=ed-cmd
ADAPTATION_MONITOR_CMD_KEY=adpm-cmd
WINDOW_MANAGER_CMD_KEY=wm-cmd

MOCKED_SERVICE_REGISTRY=ObjectDetection:ObjectDetection,Person,Car;ColorDetection:ObjectColor,ColorDetection
LOGGING_LEVEL=DEBUG